* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Pixel';
    src: url('/fonts/Pixel.ttf');
}


[yf-flappy] {
    position: relative;
    border: 5px solid dodgerblue;
    height: 700px;
    width: 1200px;
    margin: 15px;
    background-color: deepskyblue;
    overflow: hidden;

}

.passaro {
    position: absolute;
    width: 60px;
    left: calc(50% - 30px);
    bottom: 50%;
}

.par-de-barreiras {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.barreira {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.barreira .borda {
    height: 30px;
    width: 130px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border: 2px solid #000;
}

.barreira .corpo {
    height: 140px;
    width: 113px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

.progresso {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: Pixel;
    font-size: 50px;
    z-index: 100;

}

.game-over {

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 340px;
    margin: 0 auto;
    position: absolute;
    top: 30%;
    font-family: 'Pixel';
    src: url('/fonts/Pixel.ttf');
    animation: zoomAndVisible ease 4.2s;
}

.game-over #pontuação {
    font-size: 20px;
    margin: 5% 0%;

}

.game-over .btRestart {
    margin: 5% 0%;
    font-size: 15px;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-image: linear-gradient(to right, #FF512F 0%, #F09819 51%, #FF512F 100%);
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 14px #eee;

}

.game-over .btRestart:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


@keyframes zoomAndVisible {
    0% {
        opacity: 0%;
        transform: scale(0.0)
    }

}